body {
  background-image: url('http://629photography.com/high-resolation-digital-background.jpg');
  background-size: cover;
  background-attachment: fixed;
}
hr {
  margin-right: 605px;
  margin-left: 600px;
  margin-top: 50px;
}

#myImage {
  padding-top: 10px;
  margin-left: 580px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.form-group{
  margin-right: 900px;
  
}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

.col-md-1 {
  padding: 5px;
  
}
p {
  text-align: center;
  margin-right: 300px;
  margin-left: 300px;
}

#mySignature {
  margin-right: 150px;
}

.go-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: white;
  background-color: #9999ff;
  font-size: 13px;
  border-radius: 4px;
  padding: 10px;
  display: none;
}

.go-top:hover {
  background-color: #6666ff;
}
/* 
    Created on : 12 Jul 2016, 2:28:04 PM
    Author     : Devian
*/

